

  <% @episodes.each do |episode| %>

    <div class="panel panel-default">
      <div class="panel-body">
        <h3><%= link_to episode.name, episode %></h3>
        <p><%= episode.description %></p>
      </div>
    </div>

  <% end %>

  <br>

  <%= link_to 'New Episode', new_episode_path %>

  <%= will_paginate @episodes %>

